@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
$primary-bg-color: #000;
$primary-color: #eee;
$primary-font: 'Roboto Condensed', sans-serif;
$primary-font-size: 16px;
$active-state-color: #64dd17;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $primary-color;
  font-family: $primary-font;
  background-color: $primary-bg-color;
  font-size: $primary-font-size;
  -ms-overflow-style: scrollbar;
  -webkit-app-region:drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea, .menu-btn {
	-webkit-app-region: no-drag;
}

header {
  .brand {
    font-weight: 300;
    font-size: 1.2em;
    display: inline-block;
    padding: 5px;
    margin: 0 0 0 7px;
  }
  .menu-bar {
    float: right;
    .control-menu {
      padding: 0;
      list-style: none;
      .menu-btn {
        display: inline-block;
        padding: 7px;
        cursor: pointer;
        margin-right: 5px;
      }
    }
  }
  border-bottom: 1px solid $primary-color*.3;
}

.user-timer {
  padding: 7px;
  position: relative;
  .user {
    font-weight: 400;
    font-size: 1.2em;
    &::before {
      content: '\f111';
      font-family: 'FontAwesome';
      font-size: 0.5em;
      margin-right: 10px;
      margin-left: 5px;
      position: relative;
      top: -2px;
      color: $active-state-color;
    }
  }
  .timer {
    margin-left: 23px;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    background: $primary-color*0.05;
    border-radius: 5px;
  }
  .timer-control {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: $active-state-color;
    font-size: 2em;
    outline: none;
    cursor: pointer;
  }
}
