@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #eee;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #000;
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-app-region: drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea, .menu-btn {
  -webkit-app-region: no-drag;
}

header {
  border-bottom: 1px solid #474747;
}

header .brand {
  font-weight: 300;
  font-size: 1.2em;
  display: inline-block;
  padding: 5px;
  margin: 0 0 0 7px;
}

header .menu-bar {
  float: right;
}

header .menu-bar .control-menu {
  padding: 0;
  list-style: none;
}

header .menu-bar .control-menu .menu-btn {
  display: inline-block;
  padding: 7px;
  cursor: pointer;
  margin-right: 5px;
}

.user-timer {
  padding: 7px;
  position: relative;
}

.user-timer .user {
  font-weight: 400;
  font-size: 1.2em;
}

.user-timer .user::before {
  content: '\f111';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-right: 10px;
  margin-left: 5px;
  position: relative;
  top: -2px;
  color: #64dd17;
}

.user-timer .timer {
  margin-left: 23px;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  background: #0c0c0c;
  border-radius: 5px;
}

.user-timer .timer-control {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #64dd17;
  font-size: 2em;
  outline: none;
  cursor: pointer;
}
