header {
  background-color: $primary-bg-color;
  min-height: 2.2em;
  .brand {
    font-weight: 300;
    font-size: 1.2em;
    display: inline-block;
    padding: 5px;
    margin: 0 0 0 7px;
  }
  .menu-bar {
    float: right;
    .control-menu {
      padding: 0;
      list-style: none;
      .menu-btn {
        display: inline-block;
        padding: 7px;
        cursor: pointer;
        margin-right: 5px;
      }
    }
  }
  border-bottom: 1px solid $primary-bg-color*.9;
}
