$primary-bg-color: #263238; //blue-gray
$primary-bg-color: #0d47a1; //blue
$primary-bg-color: #311b92; //purple
$primary-bg-color: #1a237e; //indego
$primary-bg-color: #004d40; //teal
$primary-color: #eee;
$primary-font: 'Roboto Condensed', sans-serif;
$primary-font-size: 16px;
$active-state-color: #64dd17;
